.wrapper {
    padding: 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.button span {
    display: inline-block;
    width: 100%;
    border: 2px solid var(--color-text);
    border-radius: 0.5rem;
}

.button span:not(:last-child) {
    margin-bottom: 0.25rem;
}

.link {
    padding: 0.25rem;
    width: 10.75rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.link svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.search {

}

.search__button {
    padding: 0.25rem;
    width: 1.5625rem;
    height: 1.5625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.search__button svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}