:root {
  --color-main: rgb(255, 255, 255);
  --color-main-7: rgba(255, 255, 255, 0.7);
  --color-text: rgb(0, 0, 0);
  --color-text-5: rgb(0, 0, 0, 0.5);
  --color-border: rgb(233, 233, 233);
  --color-status: rgba(235, 0, 40);
  --color-info: rgba(155, 155, 155);
  --color-desc: rgba(146, 146, 146);
}

:root {
  --desktop: 1200;
}
